<!DOCTYPE html>
<html>
  <%- include('partials/header.html') %>
  <body>
    <!-- SideNav -->
    <%- include('partials/sidenav.html') %>

    <!-- Content -->
    <%- include('partials/_inventario.html') %> <%-
    include('partials/_modalCategorias.html') %> <%-
    include('partials/_modalMarcas.html') %>

    <!-- footer -->
    <%- include('partials/footer.html') %>

    <script src="js/productos.js"></script>
    <script src="js/categorias.js"></script>
    <script src="js/marcas.js"></script>
    <!-- modal -->
    <%- // include('partials/modals.html') %>
  </body>
</html>
