  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="js/productos.js"></script>
  <script src="js/categorias.js"></script> 
  <script src="js/marcas.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/facturacion.js"></script>
  <script src="js/reportes.js"></script>
  <!-- <script src="js/bootstrap.min.js"></script> -->
  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Optional JS -->
  <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="assets/js/argon.js?v=1.2.0"></script>
  <script src="assets/js/popper.min.js"></script>
  